doctype
html
  head
    base(href="/")
    link(rel="stylesheet", href="vendor/toastr/toastr.css")
    link(rel="stylesheet", href="css/site.css")
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
  body(ng-app="app")
    h1 Hello from the layout
    block main-content
    include scripts